<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">

        <!-- Placeholder for user profile data, dynamically filled by ProfileService -->
        <div id="profile-content" class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 justify-content-center">
            <!-- Profile cards/info will be inserted here by ProfileService.renderProfile() -->
        </div>

    </div>
</section>
<!-- Toastr CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

<!-- jQuery (needed for Toastr) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Toastr JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<!-- Load profile data dynamically -->
<script>
    $(document).ready(function () {
        ProfileService.getUserProfile();
    });
</script>
